<a href="https://colab.research.google.com/github/brianMutea/Kangas_Creating-DataGrid/blob/main/Constructing_DataGrids_with_Kangas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import Kangas with pip
%pip install kangas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kangas in /usr/local/lib/python3.8/dist-packages (1.3.4)
Requirement already satisfied: tornado in /usr/local/lib/python3.8/dist-packages (from kangas) (6.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from kangas) (1.21.6)
Requirement already satisfied: psutil in /usr/local/lib/python3.8/dist-packages (from kangas) (5.4.8)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from kangas) (7.1.2)
Requirement already satisfied: nodejs-bin==16.15.1a4 in /usr/local/lib/python3.8/dist-packages (from kangas) (16.15.1a4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kangas) (4.64.1)
Requirement already satisfied: astor in /usr/local/lib/python3.8/dist-packages (from kangas) (0.8.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from kangas) (3.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kangas) (2.25.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from kangas) (1.7.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->kangas) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->kangas) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->kangas) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->kangas) (0.11.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->kangas) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kangas) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kangas) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->kangas) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->kangas) (1.15.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# import Kangas
import kangas as kg
from pandas import DataFrame
from kangas import DataGrid

# Constructing an empty DataGrid

When we create a DataGrid we have the following attributes that we can pass:

`DataGrid(data=None,
             columns=None,
             name="Untitled",
             datetime_format="%Y/%m/%d",
             heuristics=False,
             converters=None)`

In [3]:
dg = DataGrid(name='startups', columns=['R&D Spending', 'Administration', 'Marketing Spend', 'State', 'Profit'])
# dg.save() !! do not yet

In [4]:
dg.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 0
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       0 None
2   Administration                     0 None
3   Marketing Spend                    0 None
4   State                              0 None
5   Profit                             0 None

##Adding Data

I got all some row data from this csv to avoid too much typing :) 

slight use of pandas

In [5]:
# def get_all_columns(data):
#   columns = []
#   column_list = [columns.append(column) for column in data.columns]
#   column_list = list(columns)

#   return column_list

In [6]:
row_1 = [165349.2, 136897.8, 471784.1, 'New York', 192261.83]
row_2 = [162597.7, 151377.59, 443898.53, 'California', 191792.06]
row_3 = [153441.51, 101145.55, 407934.54, 'Florida', 191050.39]
row_4 = [144372.41, 118671.85, 383199.62, 'New York', 182901.99]
row_5 = [142107.34, 91391.77, 366168.42, 'Florida', 166187.94]

# [165349.2, 136897.8, 471784.1, 'New York', 192261.83]
# [162597.7, 151377.59, 443898.53, 'California', 191792.06]
# [153441.51, 101145.55, 407934.54, 'Florida', 191050.39]
# [144372.41, 118671.85, 383199.62, 'New York', 182901.99]
# [142107.34, 91391.77, 366168.42, 'Florida', 166187.94]

### Adding with extend()

**Extending with Multiple rows**

In [7]:
# One way where the columns are autofilled if not specified
# during DataGrid creation

dg.extend([
    [165349.2, 136897.8, 471784.1, 'New York', 192261.83],
    [162597.7, 151377.59, 443898.53, 'California', 191792.06],
    [153441.51, 101145.55, 407934.54, 'Florida', 191050.39],
    [144372.41, 118671.85, 383199.62, 'New York', 182901.99],
    [142107.34, 91391.77, 366168.42, 'Florida', 166187.94]
])

In [8]:
dg.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 5
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       5 FLOAT
2   Administration                     5 FLOAT
3   Marketing Spend                    5 FLOAT
4   State                              5 TEXT
5   Profit                             5 FLOAT

In [9]:
dg.head()

**Extending with a dictionary of keyword-oriented data:**

In [10]:
dg2 = DataGrid(name='startups')

dg2.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 0
    Columns: 0
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------

If the columns are not specified, Kangas will automatically autofill the columns with A, B, C...n_rows

In [11]:
# [165349.2, 136897.8, 471784.1, 'New York', 192261.83]
# [162597.7, 151377.59, 443898.53, 'California', 191792.06]
# [153441.51, 101145.55, 407934.54, 'Florida', 191050.39]
# [144372.41, 118671.85, 383199.62, 'New York', 182901.99]
# [142107.34, 91391.77, 366168.42, 'Florida', 166187.94]

dg2.extend([
    {"R&D Spending":165349.2, "Administration": 136897.8, "Marketing Spend":471784.1, "State":"New York", "Profit":192261.83},
    {"R&D Spending":162597.7, "Administration": 151377.59, "Marketing Spend":443898.53, "State":"California", "Profit":191792.06},
    {"R&D Spending":153441.51, "Administration": 101145.55, "Marketing Spend":407934.54, "State":"Florida", "Profit":191050.39},
    {"R&D Spending":144372.41, "Administration": 118671.85, "Marketing Spend":383199.62, "State":"New York", "Profit":182901.99},
    {"R&D Spending":142107.34, "Administration": 91391.77, "Marketing Spend":366168.42, "State":"Florida", "Profit":166187.94},
])

dg2.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 5
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       5 FLOAT
2   Administration                     5 FLOAT
3   Marketing Spend                    5 FLOAT
4   State                              5 TEXT
5   Profit                             5 FLOAT

In [12]:
dg2.head()

### Adding with append()

**Appending with a list or position-oriented data:**

In [13]:
dg5 = kg.DataGrid(name="startups", columns=['R&D Spending', 'Administration', 'Marketing Spend', 'State', 'Profit'])

dg5.append([165349.2, 136897.8, 471784.1, 'New York', 192261.83])

In [14]:
dg5.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 1
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       1 FLOAT
2   Administration                     1 FLOAT
3   Marketing Spend                    1 FLOAT
4   State                              1 TEXT
5   Profit                             1 FLOAT

In [15]:
dg5.append([162597.7, 151377.59, 443898.53, 'California', 191792.06])

In [16]:
dg5.append([153441.51, 101145.55, 407934.54, 'Florida', 191050.39])

In [17]:
dg5.append([144372.41, 118671.85, 383199.62, 'New York', 182901.99])

In [18]:
dg5.append([142107.34, 91391.77, 366168.42, 'Florida', 166187.94])

In [19]:
dg5.head()

**Appending using a dictionary of keyword-oriented data, where each keyword is a column name:**

In [20]:
# {"R&D Spending":165349.2, "Administration": 136897.8, "Marketing Spend":471784.1, "State":"New York", "Profit":192261.83},
#     {"R&D Spending":162597.7, "Administration": 151377.59, "Marketing Spend":443898.53, "State":"California", "Profit":191792.06},
#     {"R&D Spending":153441.51, "Administration": 101145.55, "Marketing Spend":407934.54, "State":"Florida", "Profit":191050.39},
#     {"R&D Spending":144372.41, "Administration": 118671.85, "Marketing Spend":383199.62, "State":"New York", "Profit":182901.99},
#     {"R&D Spending":142107.34, "Administration": 91391.77, "Marketing Spend":366168.42, "State":"Florida", "Profit":166187.94},

In [21]:
dg6 = kg.DataGrid(name="startups")

In [22]:
dg6.append({"R&D Spending":165349.2, "Administration": 136897.8, "Marketing Spend":471784.1, "State":"New York", "Profit":192261.83})

In [23]:
dg6.append({"R&D Spending":162597.7, "Administration": 151377.59, "Marketing Spend":443898.53, "State":"California","Profit":191792.06})

In [24]:
dg6.append({"R&D Spending":153441.51, "Administration": 101145.55, "Marketing Spend":407934.54, "State":"Florida", "Profit":191050.39})

In [25]:
dg6.append({"R&D Spending":144372.41, "Administration": 118671.85, "Marketing Spend":383199.62, "State":"New York", "Profit":182901.99})

In [26]:
dg6.append({"R&D Spending":142107.34, "Administration": 91391.77, "Marketing Spend":366168.42, "State":"Florida", "Profit":166187.94})

In [27]:
dg6.info()

DataGrid (in memory)
    Name   : startups
    Rows   : 5
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       5 FLOAT
2   Administration                     5 FLOAT
3   Marketing Spend                    5 FLOAT
4   State                              5 TEXT
5   Profit                             5 FLOAT

In [28]:
dg6.head()

# Saving the DataGrid

## Saving DataGrid

In [41]:
dg.save()

Saving settings to 'startups.datagrid'...

**Reading DataGrid file:**

In [30]:
dg_g = kg.read_datagrid('startups.datagrid')

dg_g

<th colspan='1' >          row-id </th> <th colspan='1' >    R&D Spending </th> <th colspan='1' >  Administration </th> <th colspan='1' > Marketing Spend </th> <th colspan='1' >           State </th> <th colspan='1' >          Profit </th> <tr>
<td colspan='1' >               1 </td> <td colspan='1' >        165349.2 </td> <td colspan='1' >        136897.8 </td> <td colspan='1' >        471784.1 </td> <td colspan='1' >        New York </td> <td colspan='1' >       192261.83 </td> <tr>
<td colspan='1' >               2 </td> <td colspan='1' >        162597.7 </td> <td colspan='1' >       151377.59 </td> <td colspan='1' >       443898.53 </td> <td colspan='1' >      California </td> <td colspan='1' >       191792.06 </td> <tr>
<td colspan='1' >               3 </td> <td colspan='1' >       153441.51 </td> <td colspan='1' >       101145.55 </td> <td colspan='1' >       407934.54 </td> <td colspan='1' >         Florida </td> <td colspan='1' >       191050.39 </td> <tr>
<td colspan='1' >               4 </td> <td colspan='1' >       144372.41 </td> <td colspan='1' >       118671.85 </td> <td colspan='1' >       383199.62 </td> <td colspan='1' >        New York </td> <td colspan='1' >       182901.99 </td> <tr>
<td colspan='1' >               5 </td> <td colspan='1' >       142107.34 </td> <td colspan='1' >        91391.77 </td> <td colspan='1' >       366168.42 </td> <td colspan='1' >         Florida </td> <td colspan='1' >       166187.94 </td> <tr>
<tr>
<td colspan='6' style="text-align: left;"> [5 rows x 5 columns] </td> <tr>

*  Use DataGrid.show() to start user interface

## Saving DataGrid as CSV

In [31]:
dg.to_csv('startups.csv')

Saving DataGrid to 'startups.csv'...

100%|██████████| 5/5 [00:00<00:00, 5986.73it/s]

## Reading the saved CSV with Kangas

In [32]:
dg = kg.read_csv('startups.csv')
dg.head()

Loading CSV file 'startups.csv'...

6it [00:00, 8597.82it/s]
100%|██████████| 5/5 [00:00<00:00, 4548.15it/s]

In [33]:
pd_dataframe = dg.to_dataframe()

Creating DataFrame...

In [34]:
dg_from_df = kg.read_dataframe(pd_dataframe)

dg_from_df.head()

Reading DataFrame...

5it [00:00, 3902.40it/s]
100%|██████████| 5/5 [00:00<00:00, 5758.24it/s]

# Basic operations on Kangas DataGrid

### Getting the head

In [35]:
dg.head(3)

### Tail

In [36]:
dg.tail(3)

### Shape

In [37]:
dg.shape

(5, 6)

In [42]:
dg.select_count("{'R&D Spending'} > 150000")

3

In [43]:
dg.select("{'R&D Spending'} > {'Administration'} and {'Profit'} > 190000", sort_by="State", sort_desc=True, to_dicts=True)

[{'R&D Spending': 165349.2,
  'Administration': 136897.8,
  'Marketing Spend': 471784.1,
  'State': 'New York',
  'Profit': 192261.83},
 {'R&D Spending': 153441.51,
  'Administration': 101145.55,
  'Marketing Spend': 407934.54,
  'State': 'Florida',
  'Profit': 191050.39},
 {'R&D Spending': 162597.7,
  'Administration': 151377.59,
  'Marketing Spend': 443898.53,
  'State': 'California',
  'Profit': 191792.06}]

### Info()

In [44]:
dg.info()

DataGrid (on disk)
    Name   : startups
    Rows   : 5
    Columns: 5
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   R&D Spending                       5 FLOAT
2   Administration                     5 FLOAT
3   Marketing Spend                    5 FLOAT
4   State                              5 TEXT
5   Profit                             5 FLOAT

### Get columns

In [45]:
dg.get_columns()

['R&D Spending', 'Administration', 'Marketing Spend', 'State', 'Profit']

# Visualizing DataGrid on Kangas UI

In [46]:
dg.show()